{% extends 'layout.html' %}

{% block body %}
<img class="img-fluid" id="aurora" src="static/aurora.jpg" >
<h3 class="fs-2 text-center">About</h3>
<hr>
<p>Kutup ışıkları ya da kutup aurorası, Kuzey ve Güney kutup bölgelerinde gökyüzünde görülen, yeryüzünün manyetik alanı ile Güneş'ten gelen yüklü parçacıkların etkileşimi sonucu ortaya çıkan doğal ışımalardır. Kuzey enlemlerde bu etki aurora borealis veya kuzey ışıkları olarak adlandırılır. Güney enlemlerindeki aurora australis (güney kutup ışıkları) oluşumu da benzer özelliklere sahiptir; ancak Antarktika’da, Güney Amerika’da ve Avustralya’da daha yüksek enlemlerden görülebilir.

    Bu ışımalar, genellikle geceleri gözlemlenir, ağırlıklı olarak iyonosferde meydana gelir. Bu olgu yaygın olarak 60 ve 72 derece kuzey ve güney enlemleri arasında görünür, bu da arktik ve antarktik kutup dairelerinin içine düşer.
    
    Aurora borealis'in görünme olasılığı, kuzey manyetik kutbuna yaklaştıkça artar. Manyetik kutbun yakınlarında oluşan auroralar tam 90 derece; ancak uzaktan kuzey ufkunu yeşilimsi bir parlaklıkla, bazen de güneş alışılmamış bir yönden doğuyormuş gibi soluk bir kırmızıyla aydınlatırlar. Aurora borealis sıklıkla gündönümlerinde oluşur.
    
    Auroralar bütün yeryüzünden ve diğer gezegenlerde de gözlemlenebilir. Daha uzun süreli karanlık ve manyetik alan dolayısıyla, kutuplara yakınlaştıkça daha çok görünür olurlar.</p>
<hr>
{% endblock body %}